h1{
    background-color:#ECCEF5;
}
.subtitulo{
    border: solid 1px;
    border-color: coral;
    font-family: arial;
}


.centro{
    text-align: center;
}

.rosa{
    background-color: #ECCEF5;
}
#minion{margin-left:500px;}
#ester{margin-left:500px;}
.clothes-list {
    font-size: 16pt;
}
.dark-bg-div{
    background-color:rgb(44, 41, 41);   
}
h3{
    border:solid;
    background-color:#ECCEF5;
}